<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento</title>
    <div class="cabecalho">
        Monitoramento B3
    </div>
</head>
<body>
    <p>
    <input type="text" placeholder="Codigo - Ex: PETR4;VALE3" id='empresa'>
    <button id="inserir" onclick="pesqParametros()">Inserir</button>
    </p>
    <div class="container">
        
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="cotacao.js"></script>
</body>
</html>